.box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    height: 89vh;
    width: 50%;
    /* margin: 2px; */
    cursor: pointer;
    
}
span{
    color: var(--orange);
}
#img{
    position: relative;
    justify-content: center;
    align-items: center;
  
}
#img img{
    position: absolute;
    height: 100%;
    width: 500px;
    filter: drop-shadow(10px 10px 10px black);
}

#myimage{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    filter: drop-shadow(10px 10px 10px black);

}


.btn{
    width: 150px;
    /* height: 30px; */
    border-color: var(--TextColor);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}
.btn:hover{
    background-color: var(--orange);
    transition: 0.5s;
    box-shadow: 0px 0px 15px 5px var(--orange);
}
.box:hover {
    transform: scale(1.06);
    transition: 1s;

}
/* #backimage{
    height: 500px;
    width: 350px;
} */