:root{
  /* --orange:#ff4321; */
  /* --orange:rgb(175, 3, 3); */
  --orange:#ff4321;
  --TextColor:#fff;
  --BackColor:#1e1d1d;
}
.dark{
  /* --orange:#ff4321; */
  /* --orange:rgb(175, 3, 3); */
  --orange:#ff4321;
  --TextColor:#060606;
  --BackColor:#fff;
}
*{margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body::-webkit-scrollbar{
  display: none;
}
body {

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--BackColor);
  color: var(--TextColor);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
